<form [formGroup]="teamForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="cross-validation" [class.cross-validation-error]="teamForm.errors?.identityRevealed && (teamForm.touched || teamForm.dirty)">
            <div class="form-group">
                <label for="name">Team Name</label>
                <input type="text" id="name" class="form-control"
                      formControlName="name" required>
      
                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="name.errors?.required">
                    Team Name is required.
                  </div>
                </div>
            </div>

      <div [hidden] class="form-group">
        <label for="createdAt">Created At</label>
        <input type="date" id="createdAt" class="form-control"
              formControlName="createdAt" required>

        <div *ngIf="createdAt.invalid && (createdAt.dirty || createdAt.touched)"
            class="alert alert-danger">

          <div *ngIf="createdAt.errors?.required">
            Created At is required.
          </div>
        </div>
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button type="submit"
              class="btn btn-default"
              [disabled]="teamForm.invalid"
              (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="formDir.resetForm({})">Reset</button>
      <button type="button" class="btn btn-default"
             (click)="goBack()">Go back</button>
    </div>
    </div>
  </form>