<div class="container">
    <div *ngFor="let _task of tasks">
        <app-task-details [task]="_task" (taskToEditEvent)="editTask($event)" (taskToDeleteEvent)="deleteTask($event)"></app-task-details>
    </div>
</div>