


<!-- <app-project-form [hidden]="hideProjectCreate" [project]="selectedProject" (projectChange)="save($event)">
    
</app-project-form> -->
<div class="title">{{ title }}</div>
<div class="empty"></div>
<mat-card *ngIf="hideProjectCreate" class="projects-container">
    <button class="btn btn-submit" (click)="showCreate()" style="margin-bottom: 1em;">
        <span [hidden]="!hideProjectCreate"> Create project</span>
    </button>
    <app-projects-list *ngIf="projects.length && !loadingProjects" [projects]="projects" (selectedProjectId)="editProject($event)" (selectedProjectToDeleteId)="deleteProject($event)">
    </app-projects-list>
</mat-card>
<div *ngIf="!hideProjectCreate" class="edit-window">
    <app-project-form [project]="selectedProject" [isCreate]="isCreate" (projectChange)="saveProject($event)"></app-project-form>
</div>