<div class="container">
    <div *ngFor="let _project of projects">
        <app-project-details [project]="_project" (projectToEditEvent)="editProject($event)" (projectToDeleteEvent)="deleteProject($event)"></app-project-details>
    </div>
</div>