<div class="title">{{ title }}</div>
<div class="empty"></div>
<mat-card *ngIf="hideTaskCreate" class="tasks-container">
    <button class="btn btn-submit" (click)="showCreate()" style="margin-bottom: 1em;">
        <span [hidden]="!hideTaskCreate"> Create task</span>
    </button>
    <app-tasks-list *ngIf="tasks.length && !loadingTasks" [tasks]="tasks" (selectedTaskId)="editTask($event)" (selectedTaskToDeleteId)="deleteTask($event)">
    </app-tasks-list>
</mat-card>
<div *ngIf="!hideTaskCreate" class="edit-window">
    <app-task-form [task]="selectedTask" [isCreate]="isCreate" (taskChange)="saveTask($event)"></app-task-form>
</div>