
<div class="project">
    <div class="project-name">
        {{ project.name | titlecase }}
    </div>
    <div class="project-description">
        Description: {{ project.description }}
    </div>
    <div class="project-created-at">
        Created At: {{ project.createdAt | customDate }}
    </div>
    <div class="project-deadline">
        Deadline: {{ project.deadline | customDate }}
    </div>
</div>
<div class="project-options">
    <button class="project-edit" (click)="editProject()">Edit</button>
    <button class="project-delete" (click)="deleteProject()">Delete</button>
</div>