
<div class="team">
    <div class="team-name">
        {{ team.name | titlecase }}
    </div>
    <div class="team-created-at">
        Created At: {{ team.createdAt | customDate}}
    </div>
</div>
<div class="team-options">
    <button class="team-edit" (click)="editTeam()">Edit</button>
    <button class="team-delete" (click)="deleteTeam()">Delete</button>
</div>