<div class="title">{{ title }}</div>
<div class="empty"></div>
<mat-card *ngIf="hideTeamCreate" class="teams-container">
    <button class="btn btn-submit" (click)="showCreate()" style="margin-bottom: 1em;">
        <span [hidden]="!hideTeamCreate"> Create team</span>
    </button>
    <app-teams-list *ngIf="teams.length && !loadingTeams" [teams]="teams" (selectedTeamId)="editTeam($event)" (selectedTeamToDeleteId)="deleteTeam($event)">
    </app-teams-list>
</mat-card>
<div *ngIf="!hideTeamCreate" class="edit-window">
    <app-team-form [team]="selectedTeam" [isCreate]="isCreate" (teamChange)="saveTeam($event)"></app-team-form>
</div>