.edit-window{
    width: 50%;
    margin: auto;
}

.empty{
    height: 120px;
}

.title{
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    z-index: -1;
    height: 100px;
    border-bottom: 4px solid black;
    text-align: center;
    vertical-align: middle;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.users-container{
    position: fixed;
    left: 100px;
    right: 0;
}