<form [formGroup]="taskForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="cross-validation" [class.cross-validation-error]="taskForm.errors?.identityRevealed && (taskForm.touched || taskForm.dirty)">
            <div class="form-group">
                <label for="projectId">Task Project ID</label>
                <input type="number" id="projectId" class="form-control"
                      formControlName="projectId" required>
      
                <div *ngIf="projectId.invalid && (projectId.dirty || projectId.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="projectId.errors?.required">
                    Task Project ID is required.
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label for="performerId">Task Performer ID</label>
                <input type="number" id="performerId" class="form-control"
                      formControlName="performerId" required>
      
                <div *ngIf="performerId.invalid && (performerId.dirty || performerId.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="performerId.errors?.required">
                    Task Performer ID is required.
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" class="form-control"
                      formControlName="name" required>
      
                <div *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="name.errors?.required">
                    Name is required.
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" id="description" class="form-control"
                      formControlName="description" required>
      
                <div *ngIf="description.invalid && (description.dirty || description.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="description.errors?.required">
                    Description is required.
                  </div>
                </div>
          </div>

          <div class="form-group">
            <label for="state">Task State</label>
            <input type="number" id="state" class="form-control"
                  formControlName="state" required>
  
            <div *ngIf="state.invalid && (state.dirty || state.touched)"
                class="alert alert-danger">
  
              <div *ngIf="state.errors?.required">
                Task State is required.
              </div>
            </div>
            </div>

      <div [hidden] class="form-group">
        <label for="createdAt">Created At</label>
        <input type="date" id="createdAt" class="form-control"
              formControlName="createdAt" required>

        <div *ngIf="createdAt.invalid && (createdAt.dirty || createdAt.touched)"
            class="alert alert-danger">

          <div *ngIf="createdAt.errors?.required">
            Created At is required.
          </div>
        </div>
      </div>

      <div *ngIf="state.value === 2" class="form-group">
        <label for="finishedAt">Finished At</label>
        <input type="date" id="finishedAt" class="form-control"
              formControlName="finishedAt">

        <div *ngIf="finishedAt.invalid && (finishedAt.dirty || finishedAt.touched)"
            class="alert alert-danger">

          <div *ngIf="finishedAt.errors?.required">
            Finished At is required.
          </div>
        </div>
      </div>

      <p>Complete the form to enable the Submit button.</p>
      <button type="submit"
              class="btn btn-default"
              [disabled]="taskForm.invalid"
              (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="formDir.resetForm({})">Reset</button>
      <button type="button" class="btn btn-default"
             (click)="goBack()">Go back</button>
    </div>
    </div>
  </form>