<form [formGroup]="userForm" #formDir="ngForm">

    <div [hidden]="formDir.submitted">

      <div class="cross-validation" [class.cross-validation-error]="userForm.errors?.identityRevealed && (userForm.touched || userForm.dirty)">
            <div class="form-group">
                <label for="firstName">User First Name</label>
                <input type="text" id="firstName" class="form-control"
                      formControlName="firstName" required>
      
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="firstName.errors?.required">
                    User First Name is required.
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName">User Last Name</label>
                <input type="text" id="lastName" class="form-control"
                      formControlName="lastName" required>
      
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="lastName.errors?.required">
                    User Last Name is required.
                  </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control"
                      formControlName="email" required>
      
                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                    class="alert alert-danger">
      
                  <div *ngIf="email.errors?.required">
                    Email is required.
                  </div>
                </div>
          </div>

          <div class="form-group">
            <label for="teamId">Team ID</label>
            <input type="number" id="teamId" class="form-control"
                  formControlName="teamId" required>
    
            <div *ngIf="teamId.invalid && (teamId.dirty || teamId.touched)"
                class="alert alert-danger">
    
              <div *ngIf="teamId.errors?.required">
                Team ID is invalid.
              </div>
            </div>
          </div>
        
      <div class="form-group">
            <label for="registeredAt">Registered At</label>
            <input type="date" id="registeredAt" class="form-control"
                  formControlName="registeredAt" required>
  
            <div *ngIf="registeredAt.invalid && (registeredAt.dirty || registeredAt.touched)"
                class="alert alert-danger">
  
              <div *ngIf="registeredAt.errors?.required">
                Registered At is required.
              </div>
            </div>
      </div>

      <div class="form-group">
        <label for="birthDay">Birthday</label>
        <input type="date" id="birthDay" class="form-control"
              formControlName="birthDay" required>

        <div *ngIf="birthDay.invalid && (birthDay.dirty || birthDay.touched)"
            class="alert alert-danger">

          <div *ngIf="birthDay.errors?.required">
            Birthday is required.
          </div>
        </div>
  </div>



      <p>Complete the form to enable the Submit button.</p>
      <button type="submit"
              class="btn btn-default"
              [disabled]="userForm.invalid"
              (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="formDir.resetForm({})">Reset</button>
      <button routerLink="/users" type="button" class="btn btn-default"
             (click)="goBack()">Go back</button>
    </div>
    </div>
  </form>