.alert div {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    margin-bottom: .5rem;
  }
  
  select {
    width: 100%;
    padding: .5rem;
  }

  .cross-validation-error input {
    border-left: 5px solid red;
  }

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(126, 18, 18);
    padding: 20px;
    justify-items: center;
}

input{
    width: 500px;
}