<div class="container">
    <div *ngFor="let _user of users">
        <app-user-details [user]="_user" (userToEditEvent)="editUser($event)" (userToDeleteEvent)="deleteUser($event)"></app-user-details>
    </div>
</div>